:root {
  --Input-borderRadius: 0px;
  --Input-fontSize: 0.7rem;
  --Input-color: #000; }

:root {
  --Label-fontSize: 0.7rem; }

.Label {
  font-size: var(--Label-fontSize); }

.Input__Container {
  position: relative; }
  .Input__Container .Input__Container__Conponent {
    border-radius: var(--Input-borderRadius);
    font-size: var(--Input-fontSize);
    color: var(--Input-color); }
  .Input__Container .Input__Container__Conponent[type='color'] {
    height: 30px; }
  .Input__Container .Input__Container__Icon {
    position: absolute;
    font-size: var(--Input-fontSize);
    top: 10px;
    color: var(--Input-color); }
  .Input__Container .Input__Container__Conponent--left {
    padding-left: 30px; }
  .Input__Container .Input__Container__Conponent--right {
    padding-right: 30px; }
  .Input__Container .Input__Container__Icon--left {
    left: 10px; }
  .Input__Container .Input__Container__Icon--right {
    right: 10px; }
