{
    "presets": ["env", "react"],
    "plugins": [
        "babel-plugin-macros",
        "transform-object-rest-spread",
        "relay", ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }]
    ]
}