# dependencies
/node_modules

#dist 
/dist
/public

# testing
/coverage

/.changelog
\.directory


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.tmp
.git
.settings
*.log
.editorconfig
.directory
.idea/
.vscode/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
\.directory
yarn.lock

*.lock
yarn.lock

#css themes
src/themes/**/*.css

#css components
src/components/**/*.css

#gatsby cache
.cache

#all autogenerate pages
src/pages/components/*
!src/pages/components/index.js
    