:root {
    --Backers__Image-width: 50px;
    --Backers__Image-height: 50px;
}

.Backers {
    .ImageList {
        .ImageList__Container {
            margin: 2px;
            img,
            svg {
                width: var(--Backers__Image-width);
                height: var(--Backers__Image-height);
            }
        }
    }
}