.Backers {
    .ImageList {
        .ImageList__Container {
            margin: 2px;
            img,
            svg {
                width: $Backers__Image-width;
                height: $Backers__Image-height;
            }
        }
    }
}