@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body *{
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 1px;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

h1, .h1 {
  font-size: 2.25rem; }

h2, .h2 {
  font-size: 1.75rem;
  }

h3, .h3 {
  font-size: 1.2rem; }

h4, .h4 {
  font-size: 1rem; }

h5, .h5 {
  font-size: 1rem; }

h6, .h6 {
  font-size: 0.75rem; }

  .btn {
    font-weight: 700;
  }