:root {
  --Button-borderRadius: 0px;
  --Button-fontSize: 1rem;
  --Button-padding: 0.375rem 0.75rem;
  --Button-textShadow: none;
  --Button-backgroundColor: #fed136;
  --Button-backgroundColorHover: #fec810;
  --Button-borderColor: #fed136;
  --Button-boxShadow: none;
  --Button-boxShadowHover: none;
  --Button-border: 0px;
  --Button-textTransform: none;
  --Button-textColor: #383e45;
}

@import '../Icon/style.scss';
.Button:not(.navbar-toggler) {
  border-radius: var(--Button-borderRadius);
  font-size: var(--Button-fontSize);
  padding: var(--Button-padding);
  text-shadow: var(--Button-textShadow);
  border-color: var(--Button-borderColor);
  border: var(--Button-border);
  text-transform: var(--Button-textTransform);
  box-shadow: var(--Button-boxShadow);
  color: var(--Button-textColor);
  background-color: var(--Button-backgroundColor);
}

.Button--outline:not(.navbar-toggler) {
  background-color: transparent !important;
  border: solid 1px;
  border-color: var(--Button-borderColor) !important;
}

.Button:not(.navbar-toggler):focus,
.Button:not(.navbar-toggler):active,
.Button:not(.navbar-toggler):not(:disabled):hover {
  background-color: var(--Button-backgroundColorHover);
  box-shadow: var(--Button-boxShadowHover);
}

.Button--outline:not(.navbar-toggler):focus,
.Button--outline:not(.navbar-toggler):active,
.Button--outline:not(.navbar-toggler):not(:disabled):hover {
  background-color: var(--Button-backgroundColorHover) !important;
}
