:root {
  --Button-borderRadius: 0px;
  --Button-fontSize: 1rem;
  --Button-padding: 0.375rem 0.75rem;
}

@import '../Icon/style.scss';
.Button {
  border-radius: var(--Button-borderRadius);
  font-size: var(--Button-fontSize);
  padding: var(--Button-padding);
}
