:root {
    --Hero__Header-fontSize: 75px;
    --Hero__Header-fontStyle: normal;
    --Hero__Header-color: #fff;
    --Hero__Header-fontWeight: 700;
    --Hero__Header--phone-fontSize: 30px;
    --Hero__SubHeader-fontSize: 40px;
    --Hero__SubHeader-color: #fff;
    --Hero__SubHeader-fontStyle: italic;
    --Hero__SubHeader--phone-fontSize: 20px;
    --Hero__Button-color: #fff;
    --Hero__Button-backgroundColor: #fed136;
}

@import '../Container/style.scss';
@import '../Button/style.scss';
@import '../Header/style.scss';
.Hero {
    .Hero__Header {
        font-weight: var(--Hero__Header-fontWeight);
        font-size: var(--Hero__Header-fontSize);
        font-style: var(--Hero__Header-fontStyle);
        color: var(--Hero__Header-color);
    }
    .Hero__SubHeader {
        font-size: var(--Hero__SubHeader-fontSize);
        font-style: var(--Hero__SubHeader-fontStyle);
        color: var(--Hero__SubHeader-color);
    }
    .Hero__Button {
        padding: 20px 40px;
        color: var(--Hero__Button-color);
        background-color: var(--Hero__Button-backgroundColor);
    }
    .Hero__Particles {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        div {
            height: 100%;
        }
    }
    .Hero__Container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        .container {
            margin: auto;
        }
    }
}

@media (max-width: 768px) {
    .Hero__Header {
        font-size: var(--Hero__Header--phone-fontSize) !important;
    }
    .Hero__SubHeader {
        font-size: var(--Hero__SubHeader--phone-fontSize) !important;
    }
}