@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/monokai.css';
@import '../Navbar/style.scss';
@import '../NavbarNav/style.scss';
@import '../NavbarNav/style.scss';
@import '../Button/style.scss';
@import '../Link/style.scss';
.CodeMirror__header,
.CodeMirror__footer {
    height: 30px;
}

.CodeMirror__Container {
    border: solid 1px #304148;
    border-radius: 5px;
}

.CodeMirror {
    height: auto !important;
}

.ReactCodeMirror {
    font-size: 16px;
}