.SocialMediaShareButton {
  display: inline-block;
  cursor: pointer;

  div {
    width: 35px !important;
    height: 35px !important;
  }

  svg {
    width: 30px;
    height: 30px;
  }
}

.SocialMediaShareButton--grayScale {
  svg {
    filter: grayscale(1);
  }
}