.SocialMediaShareButton {
  display: inline-block;
  cursor: pointer;
  div {
    width: 30px !important;
    height: 30px !important;
  }
  svg {
    width: 30px;
    height: 30px;
  }
}

.SocialMediaShareButton--grayScale {
  svg {
    filter: grayscale(1);
  }
}
