:root {
  --Card-borderRadius: 0px;
  --Card__Summary-fontSize: 0.8rem;
  --Card__Summary-color: #000;
  --Card__Summary-backgroundColor: #fff;
  --Card__Title-fontSize: 1.2rem;
  --Card__Title-color: #000;
  --Card__Subtitle-fontSize: 0.9rem;
  --Card__Subtitle-color: #b5b5b5; }

.Card {
  background-color: transparent;
  border-radius: 0px; }
  .Card .Card__Summary {
    font-size: 0.8rem;
    color: #000;
    background-color: #fff; }
  .Card .Card__Title {
    font-size: 1.2rem;
    color: #000; }
  .Card .Card__Subtitle {
    font-size: 0.9rem;
    color: #b5b5b5; }

.SocialMediaShareButton {
  display: inline-block;
  cursor: pointer; }
  .SocialMediaShareButton div {
    width: 35px !important;
    height: 35px !important; }
  .SocialMediaShareButton svg {
    width: 30px;
    height: 30px; }

.SocialMediaShareButton--grayScale svg {
  filter: grayscale(1); }
