@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather+Sans:800);

.page{
	font-size: 100%;
	line-height: 1.25;
	font-weight: 300;
  font-family: 'Lato', Arial, sans-serif;
  margin-top: 100px;
}