.activeLink {
  color: #ffc80b !important;
}

.Features .Card img {
  width: auto !important;
  height: auto !important;
}


.navbar {
  padding: 0.3rem 1rem;
  color: black;
  box-shadow: 0 0 1px rgba(67,90,111,.47), 0 2px 4px -2px rgba(67,90,111,.3);
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
}

.Navbar .NavbarBrand .Logo {
  max-height: 35px;
}

.Navbar .NavbarLink, .Navbar .Navbar__Toggler, .Navbar .NavbarBrand {
  color: #818181 !important;
  cursor: pointer;
}

.navbar .github-link-icon{
  font-size: 18px;
}

.Navbar .NavbarLink:hover {
  background-color: #F4F5F7;
  color: #818181 !important;
}

.btn-everblue{
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #425A70;
  background-color: white;
  background-image: -webkit-linear-gradient(to bottom, #FFFFFF, #F4F5F7);
  background-image: -moz-linear-gradient(to bottom, #FFFFFF, #F4F5F7);
  background-image: linear-gradient(to bottom, #FFFFFF, #F4F5F7);
  box-shadow: inset 0 0 0 1px rgba(67, 90, 111, 0.14), inset 0 -1px 1px 0 rgba(67, 90, 111, 0.06);
}

.btn-everblue:hover{
  background-image: linear-gradient(to bottom, #FAFBFB, #EAECEE);
  color: #425A70;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
	color: #d4d0ab!important;
}

.token.punctuation {
	color: #fefefe!important;
}

.token.constant,
.token.deleted,
.token.property,
.token.symbol,
.token.tag {
	color: #ff8985!important;
}

.token.boolean,
.token.number {
	color: #43c4d9!important;
}

.token.function {
	color: #72d3e3
}

.token.string {
	color: #45ffa5
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector {
	color: #f7d154
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url,
.token.variable {
	color: #00e0e0
}

.token.atrule,
.token.attr-value {
	color: #45ffa5
}

.token.keyword {
	color: #00e0e0
}

.token.important,
.token.regex {
	color: gold
}

.token.bold,
.token.important {
	font-weight: 700
}

.token.italic {
	font-style: italic
}

.token.entity {
	cursor: help
}

@media screen and (-ms-high-contrast:active) {
	code[class*=language-],
	pre[class*=language-] {
		background: window;
		color: windowText
	}
	:not(pre)>code[class*=language-],
	pre[class*=language-] {
		background: window
	}
	.token.important {
		background: highlight;
		color: window;
		font-weight: 400
	}
	.token.atrule,
	.token.attr-value,
	.token.function,
	.token.keyword,
	.token.operator,
	.token.selector {
		font-weight: 700
	}
	.token.attr-value,
	.token.comment,
	.token.doctype,
	.token.function,
	.token.keyword,
	.token.operator,
	.token.property,
	.token.string {
		color: highlight
	}
	.token.attr-value,
	.token.url {
		font-weight: 400
	}
}
