.main-navbar.navbar {
    padding: 0.3rem 1rem;
    color: black;
    box-shadow: 0 0 1px rgba(67, 90, 111, 0.47), 0 2px 4px -2px rgba(67, 90, 111, 0.3);
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
}

.main-navbar.Navbar .NavbarBrand .Logo {
    max-height: 35px;
}

.main-navbar.Navbar .NavbarLink,
.main-navbar.Navbar .Navbar__Toggler,
.main-navbar.Navbar .NavbarBrand {
    color: #818181 !important;
    cursor: pointer;
}

.main-navbar.navbar .github-link-icon {
    font-size: 18px;
}

.main-navbar.Navbar .NavbarLink:hover {
    background-color: #f4f5f7;
    color: #818181 !important;
}

.main-navbar.NavbarBrand img {
    border-radius: 23px;
}

.page {
    margin-top: 55px;
    min-height: 83vh;
}

a .Card.h-100 {
    padding: 6px;
    margin: 6px;
    height: auto !important;
}

.Section a:hover {
    text-decoration: none !important;
}

a .Card:hover {
    background-color: rgba(1, 108, 209, .079);
}

a .Card:hover .Card__Title {
    color: #016cd1;
}

a .Card .Card__Title {
    color: #435a6f;
}

.Section .Section__Subtitle {
    color: #525252;
}

.nav-link {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.Wizard .footer-buttons {
    margin-top: 20px;
    padding-top: 20px;
}

/* Home Page Style */

.ReactCodeMirror .CodeMirror {
    height: auto !important;
}

.ContactUs {
    margin-left: auto;
    max-width: 500px;
    margin-right: auto;
}

.BuildWith .ImageList .ImageList__Container img {
    max-width: 200px;
    width: 200px;
}

.Hero__SubHeader,
.Hero__Header {
    color: #fed136 !important;
}

.Card__Summary {
    background-color: transparent !important;
}

.features img,
.Team img {
    height: 100px;
}

.Gif .gif_player img {
    width: auto;
}

.Video {
    max-width: 800px;
}

.component-link,
.blue-text .Card .Card__Summary,
.blue-text .Card .Card__Title {
    color: #1f4160;
}

.component-link:hover {
    text-decoration: none;
}

.main-header {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(246, 204, 32);
}

.main-subheader {
    font-size: 1.8rem;
    color: rgb(246, 204, 32);
}

.gif-toolbar {
    max-width: 570px;
    margin-top: 6px;
}

.btn-started {
    background: #fed136;
    border-color: #fed136;
    color: #383e45;
    border-radius: 5px;
    margin-right: 0.3em;
}

.btn-started:hover {
    background-color: #fec810 !important;
    border-color: #fec810 !important;
    color: #fff;
}

.main-svg {
    width: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
}

#cow {
    transform-origin: 50% 50%;
    animation: progress-indef 15s linear infinite;
}

#bang {
    opacity: 0;
    animation-name: bounceIn;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes progress-indef {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
}

@media (max-width: 965px) {
    .main-svg {
        display: none;
    }
    .main-header {
        font-size: 2rem;
    }
    .main-subheader {
        font-size: 1.2rem;
    }
    .gif-toolbar {
        margin-top: 15px;
    }
    .BuildWith .ImageList .ImageList__Container img {
        margin: 10px 0;
        width: 100px;
    }
    .main-logo {
        width: 100px;
    }
}

@media (max-width: 767px) {
    .Footer .row .col {
        flex-basis: auto;
    }
}

.CodeMirror-scroll {
    overflow: scroll !important;
    overflow-y: hidden !important;
}

.code-secondary .ReactCodeMirror .CodeMirror {
    height: 350px !important;
}

.theme-code .ReactCodeMirror .CodeMirror {
    height: 236px !important;
}

.slick-slide img {
    display: inline !important;
}

/* 404 style */

.box-error .main-svg {
    position: relative;
    width: 100%;
}

.text-404 {
    padding-top: 8rem;
}

@media (max-width: 991px) {
    .text-404 {
        padding-top: 2rem;
    }
}

@media (max-width: 415px) {
    .row {
        display: block;
    }
}

@media (max-width: 1000px) {
    .col-11 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* GIf style */

.Section .Gif .gif_player img {
    width: auto !important;
}

.Input__Container>input,
.Input__Container .fa.fa-search {
    color: rgb(66, 90, 112);
}

.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6,
.page p,
p,
.page .text-body,
.Section .Section__Title,
.Section .Section__Subtitle,
.Card .Card__Title,
.Card .Card__Summary {
    color: #1f4160;
}

.page p.text-justify.font-weight-light.text-body {
    color: #1f4160 !important;
}

.storiesList ul li a {
    color: rgba(31, 65, 96, 0.5) !important;
}

.storiesList ul li a:hover,
.storiesList ul li a.active {
    color: rgba(31, 65, 96, 1) !important;
}