/*Colors*/

$blue1: #4285f4;
$blue2: #065AC5;
$blue3: #61B8D5;
$blue4: #bee5eb;
$blue5: #062732;
$blue6: rgb(63, 81, 181);
$green1: #388438;
$white1: white;
$grey1: #CCCCCC;
$grey2: rgb(236, 230, 221);
$red1: #FF2800;
$red2: #FF856F;
$red3: #C81633;
$red4: rgb(220, 20, 49);
$brown1: #6F392F;
$brown2: #721c24;
$brown3: #f5c6cb;
$primary-color: $blue1;