@import '~react-flags-select/css/react-flags-select.css';
.LanguageSwitcher {
  .country-flag {
    color: #000;
  }
  .flag-select {
    .no--focus .country-flag {
      color: #b5b5b5;
      img {
        filter: grayscale(0.5);
      }
    }
    .country-label {
      font-size: 0.7rem;
    }
    .flag-option:hover {
      background: #eaeaea;
      color: #000;
    }
    img {
      top: 0px;
    }
  }
  .flag-options {
    border-radius: 0px;
  }
}

.LanguageSwitcher--noflag {
  .flag-select {
    img {
      display: none;
    }
  }
}

.LanguageSwitcher--noarrow {
  .arrow-down {
    display: none;
  }
}
