.Header {
  background-color: $Header-backgroundColor;

  .Header__Link,
  .Header__Toggler,
  .Header__Brand{
    color: $Header-color !important;
    cursor: pointer;
  }

  .Header__Link:hover{
    color: $Header--hover-color !important;
  }

  .Header__Brand__Logo{
    max-height: 60px;
  }
}
.Header--transparent{
  background-color: transparent;
}