:root {
    --Navbar-backgroundColor: #383d45;
    --Navbar-color: var(--grey1);
    --Navbar--hover-color: #fed136;
    --Navbar--backgroundColor: rgba(250, 250, 250, 0.9);
    --Navbar--boxShadow: rgba(0, 0, 0, .124);
}

.Navbar {
    background-color: var(--Navbar-backgroundColor);
    .NavbarLink,
    .Navbar__Toggler,
    .NavbarBrand {
        color: var(--Navbar-color) !important;
        cursor: pointer;
    }
    .NavbarLink:hover {
        color: var(--Navbar--hover-color) !important;
    }
    .NavbarBrand {
        .Logo {
            max-height: 60px;
        }
    }
    .LanguageSwitcher {
        padding: 0.5rem 1rem;
    }
}

.Navbar--transparent {
    background-color: transparent;
}
.Navbar.navbar-down{
    box-shadow: 0 0 4px var(--Navbar--boxShadow), 0 4px 8px var(--Navbar--boxShadow);
}

.Navbar.Navbar--transparent.navbar-down{
    background-color: var(--Navbar--backgroundColor) !important;
}