:root {
    --Navbar-backgroundColor: #383d45;
    --Navbar-color: var(--grey1);
    --Navbar--hover-color: #fed136;
}

.Navbar {
    background-color: var(--Navbar-backgroundColor);
    .NavbarLink,
    .Navbar__Toggler,
    .NavbarBrand {
        color: var(--Navbar-color) !important;
        cursor: pointer;
    }
    .NavbarLink:hover {
        color: var(--Navbar--hover-color) !important;
    }
    .NavbarBrand {
        .Logo {
            max-height: 60px;
        }
    }
    .LanguageSwitcher {
        padding: 0.5rem 1rem;
    }
}

.Navbar--transparent {
    background-color: transparent;
}