:root {
  --Navbar-backgroundColor: #383d45;
  --Navbar-color: #b9bfc7;
  --Navbar--hover-color: #fed136;
  --Navbar--backgroundColor: rgba(250, 250, 250, 0.9);
  --Navbar--boxShadow: rgba(0, 0, 0, .124); }

:root {
  --Button-borderRadius: 0px;
  --Button-fontSize: 1rem;
  --Button-padding: 0.375rem 0.75rem; }

.Button {
  border-radius: var(--Button-borderRadius);
  font-size: var(--Button-fontSize);
  padding: var(--Button-padding); }

.Navbar {
  background-color: var(--Navbar-backgroundColor); }
  .Navbar .NavbarLink,
  .Navbar .Navbar__Toggler,
  .Navbar .NavbarBrand {
    color: var(--Navbar-color) !important;
    cursor: pointer; }
  .Navbar .NavbarLink:hover {
    color: var(--Navbar--hover-color) !important; }
  .Navbar .NavbarBrand .Logo {
    max-height: 60px; }
  .Navbar .LanguageSwitcher {
    padding: 0.5rem 1rem; }

.Navbar--transparent {
  background-color: transparent; }

.Navbar.navbar-down {
  box-shadow: 0 0 4px var(--Navbar--boxShadow), 0 4px 8px var(--Navbar--boxShadow); }

.Navbar.Navbar--transparent.navbar-down {
  background-color: var(--Navbar--backgroundColor) !important; }
