:root {
    --ContactUs__SubmitButton-color: #ffffff;
    --ContactUs__SubmitButton-backgroundColor: #065ac5;
    --ContactUs__SubmitButton--hover-color: #ffffff;
    --ContactUs__SubmitButton--hover-backgroundColor: #065ac5;
}

.ContactUs {
    .ContactUs__SubmitButton {
        color: var(--ContactUs__SubmitButton-color);
        background-color: var(--ContactUs__SubmitButton-backgroundColor);
    }
    .ContactUs__SubmitButton:not(:disabled):hover,
    .ContactUs__SubmitButton:not(:disabled):focus {
        color: var(--ContactUs__SubmitButton--hover-color);
        background-color: var(--ContactUs__SubmitButton--hover-backgroundColor);
    }
}