:root {
    --Section__Title-fontSize: 2rem;
    --Section__Title-color: #000;
    --Section__Subtitle-fontSize: 0.9rem;
    --Section__Subtitle-color: #b5b5b5;
    --Section--gray-backgroundColor: #f8f9fa;
}

@import '../Header/style.scss';
.Section {
    div {
        margin-left: auto;
        margin-right: auto;
    }
    .Section__Title {
        font-size: var(--Section__Title-fontSize);
        color: var(--Section__Title-color);
    }
    .Section__Subtitle {
        font-size: var(--Section__Subtitle-fontSize);
        color: var(--Section__Subtitle-color);
    }
}

.Section--gray {
    background-color: var(--Section--gray-backgroundColor);
}