:root {
  --ContactInfo__Location-height: 300px;
  --ContactInfo__Information-fontSize: 0.7rem; }

.ContactInfo__Location {
  height: var(--ContactInfo__Location-height); }

.ContactInfo__Information {
  font-size: var(--ContactInfo__Information-fontSize);
  line-height: 2rem; }
  .ContactInfo__Information i {
    width: 25px; }
