:root {
  --ContactInfo__Location-height: 300px;
  --ContactInfo__Information-fontSize: 0.7rem; }

:root {
  --Card-borderRadius: 0px;
  --Card__Summary-fontSize: 0.8rem;
  --Card__Summary-color: #000;
  --Card__Summary-backgroundColor: #fff;
  --Card__Title-fontSize: 1.2rem;
  --Card__Title-color: #000;
  --Card__Subtitle-fontSize: 0.9rem;
  --Card__Subtitle-color: #b5b5b5; }

.Card {
  background-color: transparent;
  border-radius: 0px; }
  .Card .Card__Summary {
    font-size: 0.8rem;
    color: #000;
    background-color: #fff; }
  .Card .Card__Title {
    font-size: 1.2rem;
    color: #000; }
  .Card .Card__Subtitle {
    font-size: 0.9rem;
    color: #b5b5b5; }

.ContactInfo__Location {
  height: 300px; }

.ContactInfo__Information {
  font-size: 0.7rem;
  line-height: 2rem; }
  .ContactInfo__Information i {
    width: 25px; }
