@import '../Card/style.scss';
:root {
    --Features__CardFooter__Link-padding: none;
    --Features__CardFooter__Link-box-shadow: none;
    --Features__CardFooter__Link-background-color: none;
    --Features__CardFooter__Link-box-shadow-hover: none;
    --Features__CardFooter__Link-background-color-hover: none;
    --Features__CardFooter__Link-color: none;
    --Features__CardFooter__Link-fontSize: none;
    --Features__Image-width: 100px;
    --Features__Image-height: 100px;
    // --Features__Button-backgroundColor: #0780cf;
    // --Features__Button-backgroundColorHover: #05598f;
    // --Features__Button-color: #fff;
}

.Features .Card img {
    width: var(--Features__Image-width);
    height: var(--Features__Image-height);
    margin-top: 1.25rem;
}

.Features--center .Card img {
    margin-left: auto;
    margin-right: auto;
}

.Features--left .Card img {
    margin-right: auto;
}

.Features--right .Card img {
    margin-left: auto;
}

.Features .card .card-footer a {
    padding: var(--Features__CardFooter__Link-padding);
    box-shadow: var(--Features__CardFooter__Link-box-shadow);
    background-color: var(--Features__CardFooter__Link-background-color);
    color: var(--Features__CardFooter__Link-color);
    font-size: var(--Features__CardFooter__Link-fontSize);
}

.Features .card .card-footer a:focus,
.Features .card .card-footer a:active,
.Features .card .card-footer a:hover {
    background-color: var(--Features__CardFooter__Link-background-color-hover) !important;
    box-shadow: var(--Features__CardFooter__Link-box-shadow-hover) !important;
}

// .Features .Button {
//     background-color: var(--Features__Button-backgroundColor);
//     color: var(--Features__Button-color);
// }
// .Features .Button--outline:not(.navbar-toggler) {
//     background-color: transparent !important;
//     border: solid 1px;
//     border-color: var(--Features__Button-backgroundColor) !important;
//     color: var(--Features__Button-backgroundColor) !important;
// }
// .Features .Button:not(.navbar-toggler):focus,
// .Features .Button:not(.navbar-toggler):active,
// .Features .Button:not(.navbar-toggler):not(:disabled):hover {
//     background-color: var(--Features__Button-backgroundColorHover);
// }
// .Features .Button--outline:not(.navbar-toggler):focus,
// .Features .Button--outline:not(.navbar-toggler):active,
// .Features .Button--outline:not(.navbar-toggler):not(:disabled):hover {
//     background-color: var(--Features__Button-backgroundColorHover) !important;
//     color: var(--Features__Button-color) !important;
// }