.speech-bubble {
    position: relative;
    background: $GithubDetail__countbubble-backgroundColor;
    border-radius: $GithubDetail__countbubble-borderradius;
    padding: $GithubDetail__countbubble-padding;
    margin-left: $GithubDetail__countbubble-ml;
    border: $GithubDetail__countbubble-border;
    transition: $GithubDetail__countbubble-transition;
    a {
        color: $GithubDetail__countbubble-Color;
    }
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: $GithubDetail__countbubble_after-border;
    border-color: $GithubDetail__countbubble_after-borderColor;
    border-left: 0;
    margin-top: -7px;
    margin-left: -8px;
    z-index: 999;
}

.buttonText {
    margin-left: $GithubDetail__buttonText-ml;
}

.GithubDetail_btn {
    background: $GithubDetail_btn-backgroundColor;
    color: $GithubDetail_btn-Color;
}

.GithubDetail_btn_container {
    padding: $GithubDetail__btn_container-padding;
}