:root {
  --GithubDetail__countbubble-backgroundColor: #dcdcdc;
  --GithubDetail__countbubble-borderradius: 0.4em;
  --GithubDetail__countbubble-padding: 6px;
  --GithubDetail__countbubble-ml: 11px;
  --GithubDetail__countbubble-border: 1px solid #dcdcdc;
  --GithubDetail__countbubble-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  --GithubDetail__countbubble-Color: #000;
  --GithubDetail__countbubble_after-border: 7px solid transparent;
  --GithubDetail__countbubble_after-borderColor: transparent #dcdcdc transparent transparent;
  --GithubDetail__buttonText-ml: 5px;
  --GithubDetail__btn_container-padding: 5px;
  --GithubDetail_btn-backgroundColor: #dcdcdc;
  --GithubDetail_btn-Color: #000; }

.speech-bubble {
  position: relative;
  background: #dcdcdc;
  border-radius: 0.4em;
  padding: 6px;
  margin-left: 11px;
  border: 1px solid #dcdcdc;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  .speech-bubble a {
    color: #000; }

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: transparent #dcdcdc transparent transparent;
  border-left: 0;
  margin-top: -7px;
  margin-left: -8px;
  z-index: 999; }

.buttonText {
  margin-left: 5px; }

.GithubDetail_btn {
  background: #dcdcdc;
  color: #000; }

.GithubDetail_btn_container {
  padding: 5px; }
