:root {
  --GithubDetail__countbubble-padding: 7px 10px 10px 5px;
  --GithubDetail__countbubble-ml: 11px;
  --GithubDetail__countbubble-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  --GithubDetail__buttonText-ml: 5px;
  --GithubDetail__btn_container-padding: 5px;
  --GithubDetail_btn-backgroundColor: #dcdcdc;
  --GithubDetail_btn-Color: #000;
  --GithubDetail_Btn-borderRadius: 0;
  --GithubDetail_Btn-padding: 0.3rem 0.75rem;
  --GithubDetail_Btn-boxShadow: none;
  --GithubDetail_Btn-boxShadow--hover: none;
  --GithubDetail_Btn-backgroundColor--hover: #bbbbbb;
  --GithubDetail_Btn-textTransform: none;
  --GithubDetail_Btn-borderColor: transparent;
  --GithubDetail_Btn-border: 1px solid;
  --GithubDetail_Btn-fontSize: 1rem;
  --GithubDetail_Btn-textShadow: none;
}

@import '../Icon/style.scss';
.speech-bubble {
  position: relative;
  background: var(--GithubDetail_btn-backgroundColor);
  border-radius: var(--GithubDetail_Btn-borderRadius);
  padding: var(--GithubDetail__countbubble-padding);
  margin-left: var(--GithubDetail__countbubble-ml);
  border: var(--GithubDetail_Btn-border);
  border-color: var(--GithubDetail_Btn-borderColor);
  transition: var(--GithubDetail__countbubble-transition);
  box-shadow: var(--GithubDetail_Btn-boxShadow);
  a {
    color: var(--GithubDetail_btn-Color);
  }
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: transparent var(--GithubDetail_btn-backgroundColor) transparent transparent;
  border-left: 0;
  margin-top: -7px;
  margin-left: -8px;
  z-index: 999;
}

.buttonText {
  margin-left: var(--GithubDetail__buttonText-ml);
}

.GithubDetail_btn {
  background: var(--GithubDetail_btn-backgroundColor);
  color: var(--GithubDetail_btn-Color);
  border-radius: var(--GithubDetail_Btn-borderRadius);
  padding: var(--GithubDetail_Btn-padding);
  box-shadow: var(--GithubDetail_Btn-boxShadow);
  text-transform: var(--GithubDetail_Btn-textTransform);
  border: var(--GithubDetail_Btn-border);
  border-color: var(--GithubDetail_Btn-borderColor);
  font-size: var(--GithubDetail_Btn-fontSize);
  text-shadow: var(--GithubDetail_Btn-textShadow);
}

.GithubDetail_btn:hover {
  box-shadow: var(--GithubDetail_Btn-boxShadow--hover);
  background-color: var(--GithubDetail_Btn-backgroundColor--hover);
}

.GithubDetail_btn_container {
  padding: var(--GithubDetail__btn_container-padding);
}
