:root {
  --Footer-color: #cccccc;
  --Footer-backgroundColor: #383d45;
  --Footer__Sections__Link--hover-color: #fed136;
  --Footer__Sections__Header-fontSize: 1.5rem;
  --Footer__Sections__Link-fontSize: 0.8rem;
  --Footer__Copyright-fontSize: 0.8rem; }

.SocialMediaShareButton {
  display: inline-block;
  cursor: pointer; }
  .SocialMediaShareButton div {
    width: 35px !important;
    height: 35px !important; }
  .SocialMediaShareButton svg {
    width: 30px;
    height: 30px; }

.SocialMediaShareButton--grayScale svg {
  filter: grayscale(1); }

.Footer {
  padding: 2.5rem 0;
  color: var(--Footer-color);
  text-align: center;
  background-color: var(--Footer-backgroundColor); }
  .Footer .Footer__Copyright {
    font-size: var(--Footer__Copyright-fontSize); }
  .Footer .Footer__Sections__Header {
    font-size: var(--Footer__Sections__Header-fontSize); }
  .Footer a {
    color: var(--Footer-color);
    font-size: var(--Footer__Sections__Link-fontSize); }
  .Footer a:hover {
    color: var(--Footer__Sections__Link--hover-color); }
