.playgroundEditor--rounded .CodeMirror,
.playgroundVariables--rounded .CodeMirror,
.playgroundProperties--rounded {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.playgroundHeader {
  background-color: #272822;
}

.playgroundHeader__icon:hover {
  background-color: #141511;
  cursor: pointer;
}

.playgroundVariables {
  .CodeMirror__Container {
    border-top: none;
    border-radius: 0;
  }
}
