.PropsManager__Button {
  background: #304148;
  color: white;
  padding: 0.2rem;
  cursor: pointer;
}

.PropsManager__Props__Container {
  border: solid 1px #304148;
  border-radius: 5px;
}

.PropsManager__Button__Code {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.PropsManager__Code {
  .playground {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    .playgroundCode {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      box-ordinal-group: 2;
      .CodeMirror {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 16px;
      }
    }
    .playgroundPreview {
      margin-bottom: 1.5rem !important;
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      box-ordinal-group: 1;
    }
  }
}
