.ImageList {
    .ImageList__Container {
        margin-left: auto;
        margin-right: auto;
        .Card {
            img {
                max-width: 100px;
            }
        }
    }
    .ImageList__Container--grayScale {
        .Card {
            img {
                filter: grayscale(1);
            }
        }
    }
}