.ImageList {
  display: inline-flex;
  flex-wrap: wrap;
  .ImageList__Container {
    margin-left: auto;
    margin-right: auto;
    img {
      max-width: 100px;
    }
  }
  .ImageList__Container--grayScale {
    img {
      filter: grayscale(1);
    }
  }
}
